.background__animated {
   width: 100%;
   height: 100vh;
   position: absolute;
   background-image: url("film_collage.png");
   -webkit-animation: infiniteScrollBg 360s linear infinite;
   animation: infiniteScrollBg 360s linear infinite;
}

@-webkit-keyframes infiniteScrollBg {
   0% {
      background-position: 50% 0;
   }

   100% {
      background-position: 50% -2000px;
   }
}

@keyframes infiniteScrollBg {
   0% {
      background-position: 50% 0;
   }

   100% {
      background-position: 50% -2000px;
   }
}


.detail{
   background-color:white;
   margin-bottom:70px;
   font-weight:300;
   padding:20px;
   border-radius:5px;
   color:#666;
   box-shadow:0 13px 27px -5px rgba(50,50,93,0.25), 0 8px 16px -8px rgba(0,0,0,0.3),0 -12px 36px -8px rgba(0,0,0,0.025);
}
.detail img{
   position:relative;
   top:-10px;
   max-width:300px;
   width:100%;
   margin-right:30px;
   box-shadow:0 13px 27px -5px rgba(50,50,93,0.25), 0 8px 16px -8px rgba(0,0,0,0.3),0 -12px 36px -8px rgba(0,0,0,0.025);
}
.detail .movie__title,.detail .movie__year{
   margin:0;
   font-weight:300;
}
.detail .movie__title{
   margin-bottom:5px;
   font-size:24px;
   color:#333;
}
.detail .movie__genres{
   list-style: none;
   padding:0;
   margin:0;
   display:flex;
   flex-wrap:wrap;
   margin:5px 0px;
}
.movie__genres li, .detail .movie__year{
   margin-right:10px;
   font-size:14px;
}
.detail{
   display:grid;
   justify-content:center;
   align-items:center;
   grid-template-columns:repeat(2, minmax(400px, 1fr));
   grid-gap:100px;
   padding:50px;
   width:80%;
   margin:140px auto;
   padding-top:70px;
   background-color:#efefef;
}
@media screen and (max-width: 1090px){
   .detail{
       grid-template-columns:1fr;
       width:100%;
   }
}