@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
   margin: 0;
   padding: 0;
}

.header_area {
   width: 100%;
   height: 20vh;
}

h1.logo {
   font-family: 'Squada One', cursive;
   color: #fff;
   font-size: 2rem;
   width: 100px;
   height: 40px;
   display: block;
   position: absolute;
   top: 5%;
   left: 5%;
   z-index: 221;
}

a:link {
   text-decoration: none;
}

.logo span:nth-child(2) {
   position: absolute;
   top: 0;
   left: 0;
   animation: logo-1 2s normal forwards 5s;
}

@keyframes logo-1 {
   from {
      transform: translateX(0px);
   }

   to {
      transform: translateX(15px);
   }
}

.logo span:nth-child(3) {
   position: absolute;
   top: 0;
   left: 0;
   animation: logo-2 2s normal forwards 5s;
}

@keyframes logo-2 {
   from {
      transform: translateX(0px);
   }

   to {
      transform: translateX(30px);
   }
}

.logo span:nth-child(4) {
   position: absolute;
   top: 0;
   left: 0;
   animation: logo-3 2s normal forwards 5s;
}

@keyframes logo-3 {
   from {
      transform: translateX(0px);
   }

   to {
      transform: translateX(45px);
   }
}

.logo span:nth-child(5) {
   position: absolute;
   top: 0;
   left: 0;
   animation: logo-4 2s normal forwards 5s;
}

@keyframes logo-4 {
   from {
      transform: translateX(0px);
   }

   to {
      transform: translateX(60px);
   }
}

.logo span:last-child {
   position: absolute;
   top: 0;
   left: 0;
   animation: logo-5 2s normal forwards 5s;
}

@keyframes logo-5 {
   from {
      transform: translateX(0px);
   }

   to {
      transform: translateX(75px);
   }
}

.Iam {
   padding: 4em 10.4em 0em;
   font: normal 40px/50px Montserrat, sans-serif;
   color: #999;
}

.Iam p {
   height: 80px;
   float: left;
   font-size: 5rem;
   margin-right: 0.3em;
}

.Iam b {
   float: left;
   font-size: 5rem;
   overflow: hidden;
   position: relative;
   height: 80px;
   top: -8px;
}

@media screen and (max-width:1090px) {
   .header {

      width: 100%;
      height: 40vh;
   }
   .Iam p {
      line-height: 80px;
   }
   .Iam b {
      top: 90px;
   }
}


.Iam .innerIam {
   display: inline-block;
   color: #e74c3c;
   line-height: 90px;
   position: relative;
   white-space: nowrap;
   top: 0;
   left: 0;


   /*animation*/
   -webkit-animation: move 6s;
   -moz-animation: move 6s;
   -ms-animation: move 6s;
   -o-animation: move 6s;
   animation: move 6s;
   /*animation-iteration-count*/
   -webkit-animation-iteration-count: infinite;
   -moz-animation-iteration-count: infinite;
   -ms-animation-iteration-count: infinite;
   -o-animation-iteration-count: infinite;
   animation-iteration-count: infinite;
   /*animation-delay*/
   -webkit-animation-delay: 1s;
   -moz-animation-delay: 1s;
   -ms-animation-delay: 1s;
   -o-animation-delay: 1s;
   animation-delay: 1s;
}

@keyframes move {
   0% {
      top: 0px;
   }

   20% {
      top: -100px;
   }

   40% {
      top: -190px;
   }

   60% {
      top: -280px;
   }

   80% {
      top: -370px;
   }
}

@-webkit-keyframes move {
   0% {
      top: 0px;
   }

   20% {
      top: -100px;
   }

   40% {
      top: -190px;
   }

   60% {
      top: -280px;
   }

   80% {
      top: -370px;
   }
}

@-moz-keyframes move {
   0% {
      top: 0px;
   }

   20% {
      top: -100px;
   }

   40% {
      top: -190px;
   }

   60% {
      top: -280px;
   }

   80% {
      top: -370px;
   }
}

@-o-keyframes move {
   0% {
      top: 0px;
   }

   20% {
      top: -100px;
   }

   40% {
      top: -190px;
   }

   60% {
      top: -280px;
   }

   80% {
      top: -370px;
   }
}

@keyframes move {
   0% {
      top: 0px;
   }

   20% {
      top: -100px;
   }

   40% {
      top: -190px;
   }

   60% {
      top: -280px;
   }

   80% {
      top: -370px;
   }
}